<p-table
  [value]="researchers"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  (onPage)="onPageChanged($event)"
  [lazy]="true"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>ПІБ</th>
      <th>Email</th>
      <th>Кафедра</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-researcher>
    <tr>
      <td>{{ researcher.id }}</td>
      <td>
        {{
          [
            researcher.lastName,
            researcher.firstName,
            researcher.middleName
          ].join(" ")
        }}
      </td>
      <td>{{ researcher.email }}</td>
      <td>
        <ng-container *ngIf="researcher.chair"
          >{{ researcher.chair.chairAbbreviation }} •
          {{ researcher.chair.facultyTitle }}</ng-container
        >
      </td>
    </tr>
  </ng-template>
</p-table>
