<nav class="header">
  <div class="header-left">
    <div class="header-logo"><img src="../../../assets/new-logo.svg" /></div>
  </div>
  <div class="header-right">
    <div class="header-userprofile" *ngIf="profile">
      <div class="header-avatar">
        <p-avatar
          styleClass="mr-2"
          [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
          ><img
            [src]="image"
            [alt]="profile.userPrincipalName![0].toString().toUpperCase()"
          />
        </p-avatar>
      </div>
      <div
        class="header-userprofile-info"
        [pTooltip]="profile.email ?? profile.userPrincipalName"
        tooltipPosition="bottom"
      >
        <p class="header-userprofile-info-name">{{ profile.displayName }}</p>
        <p class="header-userprofile-info-jobtitle">
          {{ profile.jobTitle }}
        </p>
        <p></p>
      </div>
      <p-button
        icon="pi pi-sign-out"
        [rounded]="true"
        [text]="true"
        severity="primary"
        (onClick)="logout()"
      />
    </div>
  </div>
</nav>
