@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 100 500;
  font-display: swap;
  src: url("./Segoe\ UI.ttf") format("ttf");
}
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600 900;
  font-display: swap;
  src: url("./Segoe\ UI\ Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 100 500;
  font-display: swap;
  src: url("./Segoe\ UI\ Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600 900;
  font-display: swap;
  src: url("./Segoe\ UI\ Bold\ Italic.ttf") format("ttf");
}
