h1 {
  text-align: center;
  margin-top: 0;
}

:host {
  ::ng-deep {
    input.p-inputtext {
      min-width: 22rem;
      max-width: 40rem;
    }

    .p-float-label {
      margin: 1rem 0;
    }
  }
  .input-fields-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 30px;
    &.vertical {
      flex-direction: column;
      gap: 20px 0;
    }
  }

  .p-float-label input:focus ~ label,
  .p-float-label input.p-filled ~ label,
  .p-float-label textarea:focus ~ label,
  .p-float-label textarea.p-filled ~ label,
  .p-float-label .p-inputwrapper-focus ~ label,
  .p-float-label .p-inputwrapper-filled ~ label {
    top: -0.6rem;
    font-size: 14px;
  }
}
