<ng-container *transloco="let t"
  ><h1>Нова публікація</h1>
  <form>
    <p-panel header="Створення">
      <ng-template pTemplate="content">
        <p-floatLabel>
          <textarea
            pInputTextarea
            cols="60"
            rows="4"
            required
            id="dstuReference"
            name="dstuReference"
          ></textarea>
          <label for="dstuReference"
            >Рядок цитування згідно ДСТУ 8302:2015</label
          >
        </p-floatLabel>
        <p-floatLabel>
          <p-dropdown
            required
            [options]="publicationTypes"
            class="p-inputtext-sm"
            id="publicationType"
            name="publicationType"
          ></p-dropdown>
          <label for="publicationType">Тип публікації</label>
        </p-floatLabel>
        <p-floatLabel
          ><p-dropdown
            required
            [options]="publicationCategories"
            class="p-inputtext-sm"
            id="publicationCategory"
            name="publicationCategory"
          ></p-dropdown>
          <label for="publicationCategory"
            >Категорія публікації</label
          ></p-floatLabel
        >
        <h4>Властивості</h4>
        <p-checkbox
          name="isInternational"
          [(ngModel)]="isInternational"
          [binary]="true"
          label="Міжнародна публікація"
          id="isInternational"
        />
        <br />
        <br />
        <p-checkbox
          id="isWithStudent"
          name="isWithStudent"
          [(ngModel)]="isWithStudent"
          [binary]="true"
          label="Публікація зі студентом"
        />
        <br />
        <br />
        <p-checkbox
          [(ngModel)]="isConferenceInformation"
          [ngModelOptions]="{ standalone: true }"
          [binary]="true"
          label="Додати інформацію про конференцію / журнал"
        />
        <br />
        <br />
        <div class="conference-wrapper">
          <p-floatLabel>
            <p-calendar
              class="p-inputtext-sm"
              id="publicationYear"
              name="publicationYear"
              [(ngModel)]="publicationYear"
              [dateFormat]="'yy'"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [readonlyInput]="true"
              [showButtonBar]="true"
              view="year"
            />
            <label for="publicationYear">Рік</label> </p-floatLabel
          ><p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              [(ngModel)]="totalPages"
              id="totalPages"
              name="totalPages"
            /><label for="totalPages"
              >Кількість сторінок (загальна)</label
            ></p-floatLabel
          >

          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              [(ngModel)]="authorPages"
              id="authorPages"
              name="authorPages"
            /><label for="authorPages"
              >Кількість сторінок (авторський доробок)</label
            ></p-floatLabel
          >
        </div>
        <div class="conference-wrapper" *ngIf="isConferenceInformation">
          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              [(ngModel)]="publicationPages"
              placeholder="3-5"
              id="publicationPages"
              name="publicationPages"
            /><label for="publicationPages"
              >Сторінки публікації</label
            ></p-floatLabel
          >

          <p-floatLabel
            ><p-calendar
              class="p-inputtext-sm"
              [(ngModel)]="conferenceDates"
              selectionMode="range"
              [dateFormat]="'dd.mm.yy'"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [readonlyInput]="true"
              [showButtonBar]="true"
              id="conferenceDates"
              name="conferenceDates"
            /><label>Дати конференції</label></p-floatLabel
          >

          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="conferenceCity"
              name="conferenceCity"
              [(ngModel)]="conferenceCity"
            /><label for="conferenceCity">Місто</label></p-floatLabel
          >

          <p-floatLabel>
            <input
              class="p-inputtext-sm"
              pInputText
              type="text"
              [(ngModel)]="conferenceName"
              id="conferenceName"
              name="conferenceName"
            />
            <label for="conferenceName">Назва конференції</label>
          </p-floatLabel>

          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              [(ngModel)]="journalIssue"
              id="journalIssue"
              name="journalIssue"
            /><label for="journalIssue">Випуск </label></p-floatLabel
          >

          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              [(ngModel)]="journalNumber"
              id="journalNumber"
              name="journalNumber"
            />
            <label>Номер журналу</label></p-floatLabel
          >

          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="journalName"
              name="journalName"
              [(ngModel)]="journalName"
            /><label for="journalName">Назва журналу</label></p-floatLabel
          >

          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="printingInfo"
              name="printingInfo"
              [(ngModel)]="printingInfo"
            /><label for="printingInfo"
              >Відомості про типографію</label
            ></p-floatLabel
          >
        </div>
        <h4>Метаданні</h4>
        <div class="metadata-wrapper">
          <p-floatLabel
            ><input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="isbn"
              name="isbn"
              [(ngModel)]="isbn"
            /><label for="isbn">ISBN</label></p-floatLabel
          >
          <p-floatLabel>
            <input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="issn"
              name="issn"
              [(ngModel)]="issn"
            />
            <label for="issn">ISSN</label>
          </p-floatLabel>
          <p-floatLabel>
            <input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="doi"
              name="doi"
              [(ngModel)]="doi"
            />
            <label for="doi">DOI</label>
          </p-floatLabel>
          <p-floatLabel>
            <input
              class="p-inputtext-sm"
              pInputText
              type="text"
              id="url"
              name="url"
              [(ngModel)]="url"
            />
            <label for="url">URL</label>
          </p-floatLabel>
        </div></ng-template
      >
      <ng-template pTemplate="footer"
        ><button type="submit" pButton [label]="'Створити'"></button
      ></ng-template>
    </p-panel>
    <br />
    <p-panel header="Корисні посилання">
      <ul>
        <li>
          <a
            target="_blank"
            href="https://www.grafiati.com/uk/blogs/dstu-8302-2015-referencing-generator/"
            >Як оформити цитування згідно ДСТУ 8302:2015 «Інформація та
            документація. Бібліографічне посилання. Загальні положення та
            правила складання»?</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://nauka.gov.ua/information/naukovi-publikatsii-v-zhurnalakh-iaki-vkhodiat-do-katehorii-a-b/"
            >Як визначити категорію публікації (А,Б,В)?</a
          >
        </li>
      </ul>
    </p-panel>
  </form>
</ng-container>
