<div class="login-page">
  <div class="login-page-container">
    <div class="login-page-logo">
      <img
        src="./../../../../assets/new-logo.svg"
        alt="Your Logo"
        width="150"
      />
    </div>
    <p class="login-page-description">
      This module can used by researchers to store information about
      publications
    </p>
    <button type="button" (click)="loginWithMicrosoft()" class="sign-in-button">
      <img
        src="./../../../../assets/icons/login/ms-symbollockup_mssymbol_19.svg"
        alt="Sign in with Microsoft"
      /><span>Sign in with Microsoft</span>
    </button>
  </div>
</div>
