<ng-container *transloco="let t">
  @if (researcherInformationModel) {
  <p-panel
    [header]="
      [
        researcherInformationModel.lastName,
        researcherInformationModel.firstName,
        researcherInformationModel.middleName
      ].join(' ')
    "
  >
    <ng-template pTemplate="content">
      <div class="badges">
        <p>{{ t("views.about.pseudonyms") }}</p>
        <p-badge
          *ngFor="let pseudonym of researcherInformationModel.pseudonyms"
          [value]="pseudonym.shortName"
          [pTooltip]="
            [
              pseudonym.lastName,
              pseudonym.firstName,
              pseudonym.middleName
            ].join(' ')
          "
          class="p-mr-2"
        ></p-badge>
      </div>
      <div class="dbprofiles-wrapper">
        <p-chip
          pTooltip="ORCID"
          [label]="
            researcherInformationModel.orcidUrl ?? t('views.about.undefined')
          "
          image="../../../../assets/icons/profile/orcid.svg"
          alt="ORCID"
        />
        <p-chip
          *ngFor="let profile of researcherInformationModel.profiles"
          [pTooltip]="profile.type.toString()"
          [label]="profile.internalId"
          [image]="
            '../../../../assets/icons/profile/' +
            getDatabaseIconName(profile.type)
          "
        />
      </div>

      <div>
        <table class="information">
          <tr>
            <td>Researchers Module ID</td>
            <td>{{ researcherInformationModel.id }}</td>
          </tr>
          <tr>
            <td>{{ t("views.about.phoneNumber") }}</td>
            <td>{{ researcherInformationModel.phoneNumber ?? "-" }}</td>
          </tr>
          <tr>
            <td>{{ t("views.about.email") }}</td>
            <td>{{ researcherInformationModel.email }}</td>
          </tr>
          @if (researcherInformationModel.chair) {
          <tr>
            <td>{{ t("views.about.faculty") }}</td>
            <td>{{ researcherInformationModel.chair.facultyTitle }}</td>
          </tr>
          <tr>
            <td>{{ t("views.about.chair") }}</td>
            <td>
              {{ researcherInformationModel.chair.chairName }} ({{
                researcherInformationModel.chair.chairAbbreviation
              }})
            </td>
          </tr>
          }
          <tr>
            <td>{{ t("views.about.academicDegree") }}</td>
            <td>
              {{
                "enums.AcademicDegrees." +
                  researcherInformationModel.academicDegree | transloco
              }}
            </td>
          </tr>
          <tr>
            <td>{{ t("views.about.posada") }}</td>
            <td>
              {{
                researcherInformationModel.posada ?? t("views.about.undefined")
              }}
            </td>
          </tr>
          <tr>
            <td>{{ t("views.about.stepin") }}</td>
            <td>
              {{
                researcherInformationModel.stepin ?? t("views.about.undefined")
              }}
            </td>
          </tr>
          <tr>
            <td>{{ t("views.about.zvannya") }}</td>
            <td>
              {{
                researcherInformationModel.zvannya ?? t("views.about.undefined")
              }}
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </p-panel>
  } @else {
  <app-loading-page></app-loading-page>
  }
</ng-container>
